drupal:
  root: "build"
  base_url: "http://nginx"
  site:
    name: "Advanced migrations"
    profile: "standard"
  database:
    host: "mariadb"
    port: "3306"
    name: "drupal"
    user: "drupal"
    password: "drupal"
  post_install:
    # Enable the modules.
    - "./vendor/bin/drush en advanced_migrations admin_toolbar -y"
  settings:
    settings:
      file_scan_ignore_directories:
        - "node_modules"
        - "bower_components"
        - "vendor"
        - "${drupal.root}"

commands:
  drupal:site-setup:
    - { task: "symlink", from: "../../..", to: "${drupal.root}/modules/custom/advanced_migrations" }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:phpunit" }
    - { task: "run", command: "setup:behat" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
  setup:behat:
    - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }
